doctype html
html
    include header
    body
        section.s0
            img.ball(src="imgs/ballon.png" data-0="right:5%" data-300="right:80%")
            h2(data-0="top:40%" data-200="top:70%") 很高兴遇见
                em 你
            .wavs
                - for(var i=1;i<5;i++){
                    div(class="c"+i)
                - }
        section.s1
            .clouds(data-300="top:-12%" data-500="top:0%")
                - for(var i=1;i<6;i++){
                    .cld(class='cl'+i)
                - }
            article(data-600="padding-top:50%;opacity:0;" data-650="padding-top:20%;opacity:1")
                h2 简介
                ul
                    li.intro(data-600="padding-top:30%" data-700="padding-top:0")
                        .intro_key 中文名
                        .intro_val 梁皓叙
                    li.intro
                        .intro_key 英文名
                        .intro_val Geo
                    li.intro
                        .intro_key 个人信息
                        .intro_val 1992.02.23 | 双鱼座 | A型
                    li.intro
                        .intro_key 从事职业
                        .intro_val 前端工程师
                    li.intro
                        .intro_key 我的自述
                        .intro_val 喜欢思考，喜欢不同，爱前端，拒绝平庸，拥抱热情

            .wavs
                .wave
                .wave.w2
                img.ship(src="imgs/ship.png" data-600="left:10%" data-3000="left:70%")
                .wave.w3
                .wave.w4
                .wave.w5
        section#s2.s2
            .line(data-1100="height:0%;top:-35%;" data-2100="height:75%;top:0%")
            img.man(src="imgs/man.png" data-1100="top:-45%;" data-2100="top:74%")
            img.fish1(src="imgs/fish1.png" data-1100="left:110%" data-1800="left:10%")
            img.fish2(src="imgs/fish2.png" data-1300="left:120%" data-1900="left:10%")
            img.fish3(src="imgs/fish3.png" data-1300="left:-10%" data-2400="left:110%")
            img.fish4(src="imgs/fish4.png" data-1300="left:120%;bottom:90%" data-2400="left:-50%;bottom:20%")
            img.fish5(src="imgs/fish5.png" data-1300="left:120%;bottom:-50%" data-2600="left:50%;bottom:20%")
            .date
                .date_item(src="imgs/ship.png" data-1100="opacity:0" data-1400="opacity:1")
                    h3 1992.02 出生
                .date_item(src="imgs/ship.png" data-1200="opacity:0" data-1500="opacity:1")
                    h3 2010.09 - 2014.06 哈尔滨
                    p 黑龙江大学 本科
                    p 软件工程
                .date_item(src="imgs/ship.png" data-1300="opacity:0" data-1600="opacity:1")
                    h3 2014.09 - 2016.03 杭州
                    p 个推
                    p 前端开发工程师
                .date_item(src="imgs/ship.png" data-1400="opacity:0" data-1700="opacity:1")
                    h3 2016.05 - 2017.05 广州
                    p 4399
                    p 前端开发工程师
                .date_item(src="imgs/ship.png" data-1500="opacity:0" data-1800="opacity:1")
                    h3 2017.05 - 至今
                    p 休整待业
            #bg1
        section#s3.s3
            ul.menu.clearfix
                li.btn(data-2300="opacity:0" data-2400="opacity:1") FE-Basic
                li.btn(data-2400="opacity:0" data-2500="opacity:1") FE-Advanced
                li.btn(data-2500="opacity:0" data-2600="opacity:1") Common
                li.btn(data-2600="opacity:0" data-2700="opacity:1") Tools
            .tech-board.clearfix(data-2700="opacity:0" data-2800="opacity:1")
                #holder
                #techs
            #bg2
            img.bottom(src="imgs/bottom.png" )
            img.fish6(src="imgs/fish6.png" data-2400="left:120%;bottom:100%;transform:scale(0.5)" data-2600="left:80%;bottom:93%;transform:scale(2)")
            img.fish7(src="imgs/fish7.png" data-2900="left:120%;bottom:40%" data-3400="left:20%;bottom:60%;transform:rotateY(0deg)" data-3500="transform:rotateY(180deg);left:20%;bottom:60%;" data-3700="transform:rotateY(180deg);left:80%;bottom:40%;" data-4300="left:110%;bottom:40%;")
            img.fish8(src="imgs/fish8.png")
            img.ship2(src="imgs/ship2.png" data-3400="left:-30%" data-3500="left:10%;top:20%;" data-3600="left:10%;top:36%;" data-3800="left:10%;top:55%;" data-4100="left:70%;top:55%;")
            article
                h2(data-3000="opacity:0" data-3200="opacity:1") 我的项目
                .project(data-3300="opacity:0" data-3400="opacity:1")
                    a.project_tit.icon-project 个推开发者平台/应景推送
                    p.icon-star 个推开发者平台的开发和维护
                    p.icon-star 平台基于Backbone Jquery Bootstrap RequireJs Handlebars mock underscore 以及其他第三方插件开发
                .project(data-3400="opacity:0" data-3500="opacity:1")
                    a.project_tit.icon-project 个推运营平台
                    p.icon-star 个推内部运营平台的功能开发，nodeJS controller层开发和部分Angular组件封装
                    p.icon-star 平台基于Angular1 LESS nodeJs java gulp 前端通过ajax请求，node接收，通过thrift连接node和java
                .project(data-3500="opacity:0" data-3600="opacity:1")
                    a.project_tit.icon-project 个推网络检测工具
                    p.icon-star 前端静态页面以及中间层node的开发
                    p.icon-star 使用了Jquery handlebars css3 nodejs
                .project(data-3600="opacity:0" data-3700="opacity:1")
                    a.project_tit.icon-project 个人Blog
                    p.icon-star
                        a 基于Jekyll框架开发的个人博客
                    p.icon-star
                        a 新blog
                    p 主要使用了Jekyll Jquery css3 markdown和第三方插件，并修复了首页动画插件的清除的问题/基于Hexo的博客
                .project(data-3700="opacity:0" data-3800="opacity:1")
                    a.project_tit.icon-project 个人简历
                    p.icon-star 一个基于swiper开发的个人简历，中间参考了百度百科,Eric emptystack,使用了Raphael jade sass webPack flex
                .project(data-3800="opacity:0" data-3900="opacity:1")
                    a.project_tit work_ladder
                    p.icon-star 基于业务搭建的页面重构自动化开发环境，npm script，jade，sass，es6，browser-sync，精灵图，图片压缩，打包，字体文件转换等
            article.art2
                h2 Contact Me
                section
                    p
                        em.icon-phone
                        a 156 6997 1343
                    p
                        em.icon-weibo
                        a 奥特蛋 Geo
                    p
                        em.icon-email
                        a 117 069 1438@qq.com
                    p
                        em.icon-github
                        a(href="https://github.com/GeorageLiang") GeorageLiang
        include script
